<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  	{% if msg %}
  	alert("{{msg}}");
  	{% endif %}
  </script>
</head>
<body>
<h2>Bill No {{order.bill}} </h2><span>placed at {{order.created}}</span>
<br>
<h4>Total {{order.grand_total}}</h4>
{% for c in cart %}
<div class="col-sm-6">
	<div class="row">
	<div class="col-sm-6">
	<img src="{{c.product.image.url}}" class="img-responsive">
	<button type="submit" class="btn btn-info btn-lg" data-toggle="modal" onclick="modal_fired('{{c.product.id}}','{{c.product.name}}')" data-target="#myModal">Review It</button>
</div>
<div class="col-sm-4">
	<p style="">{{c.product.name}}</p>
<p>{{c.quantity}}</p>
<p>{{c.total_price}}</p>
</div>	
</div>
</div>
{% endfor %}
<div class="col-sm-8">
	<div class="row">
		<h2>Delivery Tracking</h2>
		<p>Status: {{delivery.location}}</p>
		<p>Estimated Time Left: {{delivery.time_left}}</p>
	</div>
</div>

	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{order.customer.FirstName}} - </h4><h5 id="name"></h5>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="review">Review:</label>
      <div class="col-sm-10">
      <textarea class="form-control" id="review" placeholder="Enter Review"></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</body>
<script type="text/javascript">
	var id=1;
	function modal_fired(pid,pname){
		
		id=pid;
		$('#name').html(pname);
	};
	$('form').submit(function(e){
		console.log("post request");
		e.preventDefault();
		data = {'review': $('#review').val(),
				  'pid':id};
		console.log(data);

		if($('#review').val()=='')
		alert ("Empty");
		else
		{
			$.ajax({
			type: "POST",
			url: "/myorders/"+id+"/review",
			data:data,
			success: function(data){
				$('#review').text("");
				console.log(data);	
				if(data=="success")
					alert("Review Recorded");
				else
					alert("Error Occured");
			}
		});
		}
	});
</script>
</html>